.ai-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.ai-header {
  text-align: center;
  padding: 10px;
  background: #f8f9fa;
  font-size: 18px;
  font-weight: bold;
}

.ai-map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.ai-map {
  height: 70vh;  
  width: 70vw;    
  border: 2px solid #333;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .ai-map {
    width: 100vw;
    height: 50vh;
  }
}